@darkgreen: #1a6d27;
@lightgreen: #6cb028;
@lightyellow: #c4c731;
@lightred: #d74a3d;

button,
.button,
a.button,
input[type='submit'] {
  background: @lightgreen;
  &:focus,
  &:hover {
    background: lighten(@lightgreen, 5%);
  }
  &:active {
    background: lighten(@lightgreen, 7%);
  }
}

.brand {
  img {
    float: none;
    margin: 1.5rem 2rem 0 0;
    height: 60px;
    width: auto;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .title {
    float: none;
    padding: 0;
    margin: -1.5rem 0 0 6rem;
    font-size: 3em;
    .subject {
      letter-spacing: -.05em;
    }
  }
}

#masthead {
  height: 300px;
  &.collapsed {
    background: #111;
    border-bottom-width: 1px;
    border-bottom-color: lighten(#111, 20%);
    &.transparent {
      background: transparent;
      border-bottom-color: transparent;
      .brand:before,
      .brand:after {
        display: none;
      }
    }
    .brand {
      position: relative;
      img {
        float: left;
        margin-top: 0rem;
        margin-right: 1rem;
        position: relative;
        z-index: 3;
      }
      .title {
        float: left;
        margin: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -1px;
        width: 62px;
        height: 50px;
        background: #111;
        z-index: 2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: -1px;
        width: 60px;
        height: 60px;
        background: #111;
        border: 1px solid lighten(#111, 20%);
        border-radius: 100%;
        z-index: 1;
      }
    }
  }
}

#welcome {
  margin-top: -300px;
  padding-top: 300px;
  padding-bottom: 6rem;
  background: #000;
  .welcome-content {
    background: rgba(255,255,255,0.9);
    // border-radius: 10px;
    border: 0;
    box-shadow: 0 0 6rem rgba(0,0,0,.5);
    padding: 2rem 0;
    position: relative;
    z-index: 3;
    color: #111;
    border-bottom: 10px solid @darkgreen;
    .headline-content {
      background: transparent;
      padding: 4rem 0;
      h2 {
        text-transform: uppercase;
        margin: 0;
        font-size: 2em;
        font-weight: 800;
      }
      p {
        font-size: 1.4em;
        font-weight: 500;
        color: #333;
      }
      // .button {
      //   background: rgba(0,0,0,0.7);
      //   border: 1px solid rgba(255,255,255,0.2);
      //   &:hover {
      //     background: rgba(0,0,0,0.5);
      //   }
      // }
    }
    .amazon-vision {
      float: right;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      margin: 15% 0;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 30px rgba(0,0,0,0.08);
      img {
        width: 80%;
        margin: 25% 10%;
        height: auto;
        box-sizing: border-box;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295f94+0,ffffff+100&0.9+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    z-index: 0;
  }
}

#carousel {
  margin-top: 0;
}

#social {
  background: #333;
  .social-bg {
    border-color: #333;
    background: #333;
  }
}

#map {
  margin: 0 0 4rem;
}

#indicators {
  margin: 0 0 6rem;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    li {
      flex: 1 1 25%;
      margin: 0;
      padding: 4rem;
      background: #f5f5f5;
      .status {
        margin: 0 0 2rem;
        .status-icon {
          width: 40%;
          padding-top: 40%;
          background: @lightgreen;
          margin: auto;
          height: 0;
          border-radius: 100%;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 25%;
            display: block;
            width: 50%;
            height: auto;
          }
        }
      }
      .indicator.status-1 .status .status-icon {
        background: @lightred;
      }
      .indicator.status-2 .status .status-icon {
        background: @lightyellow;
      }
      .indicator.status-3 .status .status-icon {
        background: @lightgreen;
      }
      h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6em;
        letter-spacing: .1rem;
        text-align: center;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: #333;
          }
        }
      }
      .button {
        display: block;
        width: 100%;
      }
    }
  }
}

#single {
  .article-header {
    background-image: url(http://redparques.com/wp-content/uploads/2015/01/MANGLAREs.jpg);
    background-position: top center;
    h2 {
      margin-left: 0;
      padding-left: 0;
      color: #666;
    }
  }
  .article-share {
    h3 {
      color: #666;
    }
  }
}

#archive {
  .archive-header {
    background-image: url(http://redparques.com/wp-content/uploads/2015/01/MANGLAREs.jpg);
    background-position: top center;
    h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .5rem;
      position: relative;
    }
  }
}

#archive {
  .indicators-content {
    margin: -4rem 0 -6rem;
    padding: 0;
    color: #333;
    article {
      border-bottom-color: #444;
      padding: 4rem 0;
      margin: 0;
      background: #f0f0f0;
      &:nth-child(odd) {
        background: #f8f8f8;
        .status-text {
          // background: #eee;
        }
      }
      &:last-child {
        border: 0;
        margin: 0;
      }
      h2 {
        text-transform: uppercase;
        letter-spacing: .1rem;
      }
      &.status-1 .status-icon {
        background: @lightred;
      }
      &.status-2 .status-icon {
        background: @lightyellow;
      }
      &.status-3 .status-icon {
        background: @lightgreen;
      }
      .status-icon {
        width: 40%;
        padding-top: 40%;
        background: @lightgreen;
        margin: 0 auto 2rem;
        height: 0;
        border-radius: 100%;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          margin-top: -12px;
          left: 25%;
          display: block;
          width: 50%;
          height: auto;
        }
      }
      .status {
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        text-align: center;
        margin: 0 0 2rem;
        font-weight: 600;
      }
      .status-text {
        background: #e8e8e8;
        padding: 2rem;
        margin: 4rem 0;
        font-size: 1.2em;
        position: relative;
        &:after {
          background: inherit;
          content: '';
          position: absolute;
          left: 50%;
          top: -10px;
          margin-left: -10px;
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
        }
      }
      .excerpt {
        font-size: 1.4em;
      }
    }
  }
}
